<div class="d-flex align-items-center justify-content-center">
  <h1><%= t('menu.home')%></h1>
</div>
<%= image_tag "https://smapse.ru/storage/2019/08/x.jpg", size: '1300x500' %>
<br>
<%= link_to "#{t('.of_site')}", "https://bmstu.ru/"  %>