<h1><%= t('.title') %></h1>

  <%= form_with url: posit_path do |f| %>
    <%= f.select :name, @list_pred, include_blank: true %>
    <br>
    <br>
    <%= f.submit value: "#{t('.sub')}", class: "btn btn-info" %>
  <% end %>

<div id='result_container'></div>