<h1>Subject Profile</h1>
<br>
<table class="table table-borderless">
    <th>
      <h3> <%= @pred.name %> </h3>
    </th>
      <tr> <td>  </td></tr>
      <tr> <td>  </td></tr>

        <tr>
          <td>  <h5>Teacher:  </h5></td>
        </tr>
            <td> <h6><%= link_to @pred.teach.user.name, profile_path(id:  @pred.teach.user.id), class:"link-info" %> </h6> </td>
        </tr>

      
  </table>

  <%= link_to "back", schedule_path , class: "btn btn-warning" %>